<div class="gap-3 flex flex-col">
	<header class="p-3 gap-7 bg-blue-400 flex flex-row text-white">
		<button mat-icon-button [matMenuTriggerFor]="menu"
			class="flex-none text-left">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon>dialpad</mat-icon>
			<span>Redial</span>
		</button>
		<button mat-menu-item disabled>
			<mat-icon>voicemail</mat-icon>
			<span>Check voice mail</span>
		</button>
		<mat-divider></mat-divider>
		<button mat-menu-item
			i18n="The label for the option to seee the status of teh component@@main_status-menu-item-label"
			routerLink="/main/status">Status</button>
		</mat-menu>
		<div class="grow text-center font-bold text-2xl">Title</div>
	</header>
	<div class="p-3 grow">
		<router-outlet></router-outlet>
	</div>
	<footer class="p-11 gap-7 bg-blue-950 text-slate-50 flex flex-col">
		<div class="flex justify-center text-xs"
			i18n="The copyright text@@main_copyright-text">
			Copyright © 2022-2026 <img class="h-4" src="images/valawai-logo.png"
				alt="VALAWAI logo">
		</div>
	</footer>
</div>