<form class="max-w-3xl w-full" [formGroup]="form" class="flex flex-col">
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the age range of a patient@@shared_patient-status-criteria_main_criteria_age-range-question">Patient
			age range</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group
				*ngIf="form.controls.ageRange.enabled; else noAgeRange"
				aria-labelledby="example-radio-group-label"
				formControlName="ageRange"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button *ngFor="let name of AGE_RANGE_OPTION_NAMES"
				[value]="name">{{name|ageRangeOptionName}}</mat-radio-button> </mat-radio-group>
			<ng-template #noAgeRange>
			{{form.controls.ageRange.value|ageRangeOptionName}} </ng-template>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the CCD of a patient@@shared_patient-status-criteria_main_criteria_ccd-question">
			Complex Cronic Disease (CCD)</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group *ngIf="form.controls.ccd.enabled; else noCCD"
				aria-labelledby="example-radio-group-label" formControlName="ccd"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button *ngFor="let name of YES_NO_UNKNOWN_OPTION_NAMES"
				[value]="name">{{name|yesNoUnknownOptionName}}</mat-radio-button> </mat-radio-group>
			<ng-template #noCCD>
			{{form.controls.ccd.value|yesNoUnknownOptionName}} </ng-template>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md">
			<div class="text-wrap text-lg font-semibold"
				i18n="The question to ask about the age range of a patient@@shared_patient-status-criteria_main_criteria_maca-question">
				MACA patient (advance chronic disease and need for palliative care)</div>
			<div class="text-wrap font-light"
				i18n="The explanation to ask about the MACA of a patient@@shared_patient-status-criteria_main_criteria_maca-question_explanation">
				This is a classification of patients with a clinical profile similar
				to PCC but of greater severity and with a life prognosis of less
				than 12 months. Patients classified as MACA = patients whose The
				answer to the next question is NO: do you It would be surprising if
				this patient died in less than 12 months?</div>
		</div>
		<div class="grow"></div>
		<div class="max-w-xs flex flex-col items-end">
			<mat-radio-group *ngIf="form.controls.maca.enabled; else noMACA"
				aria-labelledby="example-radio-group-label" formControlName="maca"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button *ngFor="let name of YES_NO_UNKNOWN_OPTION_NAMES"
				[value]="name">{{name|yesNoUnknownOptionName}}</mat-radio-button> </mat-radio-group>
			<ng-template #noMACA>
			{{form.controls.maca.value|yesNoUnknownOptionName}} </ng-template>
			<div class="text-wrap text-center font-light"
				i18n="The explanation to MACA answer of a patient@@shared_patient-status-criteria_main_criteria_maca-answer_explanation">
				(Would you be surprised if the patient died in less than 12 months?
				If the answer is NO, the patient is MACA)</div>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the expected-survival of a patient@@shared_patient-status-criteria_main_criteria_expected-survival-question">
			Life expectancy / Expected survival (in months)</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group
				*ngIf="form.controls.expectedSurvival.enabled; else noExpectedSurvival"
				aria-labelledby="example-radio-group-label"
				formControlName="expectedSurvival"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button *ngFor="let name of SURVIVAL_OPTION_NAMES"
				[value]="name">{{name|survivalOptionName}}</mat-radio-button> </mat-radio-group>
			<ng-template #noExpectedSurvival>
			{{form.controls.expectedSurvival.value|survivalOptionName}} </ng-template>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md">
			<div class="text-wrap text-lg font-semibold"
				i18n="The question to ask about the frailVIG of a patient@@shared_patient-status-criteria_main_criteria_frail-vig-question">
				Frail-VIG fragility index (Spict scale)</div>
			<div class="text-wrap font-light"
				i18n="The explanation to ask about the MACA of a patient@@shared_patient-status-criteria_main_criteria_frail-vig-question_explanation">
				It helps identify the most fragile people who have one or more
				health problems. It is based on the comprehensive geriatric
				assessment (applicable to non-geriatric patients) that evaluates
				areas such as functional independence, nutritional status,
				cognitive, emotional, social, geriatric syndromes (confusion
				syndrome, falls, ulcers, polypharmacy, dysphagia), symptoms (pain or
				dyspnea) and diseases oncological, respiratory, cardiac,
				neurological, digestive or renal).</div>
		</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group
				*ngIf="form.controls.frailVIG.enabled; else noFrailVIG"
				aria-labelledby="example-radio-group-label"
				formControlName="frailVIG"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button *ngFor="let name of SPICT_SCALE_NAMES"
				[value]="name">{{name|spictScaleName}}</mat-radio-button> </mat-radio-group>
			<ng-template #noFrailVIG>
			{{form.controls.frailVIG.value|spictScaleName}} </ng-template>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the clinical-risk-group of a patient@@shared_patient-status-criteria_main_criteria_clinical-risk-group-question">
			Clinical Risk Group</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group
				*ngIf="form.controls.clinicalRiskGroup.enabled; else noClinicalRiskGroup"
				aria-labelledby="example-radio-group-label"
				formControlName="frailVIG"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button
				*ngFor="let name of CLINICAL_RISK_GROUP_OPTION_NAMES" [value]="name">{{name|clinicalRiskGroupOptionName}}</mat-radio-button>
			</mat-radio-group>
			<ng-template #noClinicalRiskGroup>
			{{form.controls.clinicalRiskGroup.value|clinicalRiskGroupOptionName}}
			</ng-template>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the Has social support of a patient@@shared_patient-status-criteria_main_criteria_has-social-support-question">
			Does the patient have social support?</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group
				*ngIf="form.controls.hasSocialSupport.enabled; else noHasSocialSupport"
				aria-labelledby="example-radio-group-label"
				formControlName="hasSocialSupport"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button *ngFor="let name of YES_NO_UNKNOWN_OPTION_NAMES"
				[value]="name">{{name|yesNoUnknownOptionName}}</mat-radio-button> </mat-radio-group>
			<ng-template #noHasSocialSupport>
			{{form.controls.hasSocialSupport.value|yesNoUnknownOptionName}} </ng-template>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md">
			<div class="text-wrap text-lg font-semibold"
				i18n="The question to ask about the frailVIG of a patient@@shared_patient-status-criteria_main_criteria_independence-at-admission-question">
				Barthel index</div>
			<div class="text-wrap font-light"
				i18n="The explanation to ask about the MACA of a patient@@shared_patient-status-criteria_main_criteria_independence-at-admission-question_explanation">
				Functional independence for basic activities of daily living at
				admission.</div>
		</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group
				*ngIf="form.controls.independenceAtAdmission.enabled; else noIndependenceAtAdmission"
				aria-labelledby="example-radio-group-label"
				formControlName="independenceAtAdmission"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button *ngFor="let name of BARTHEL_INDEX_NAMES"
				[value]="name">{{name|barthelIndexName}}</mat-radio-button> </mat-radio-group>
			<ng-template #noIndependenceAtAdmission>
			{{form.controls.independenceAtAdmission.value|barthelIndexName}} </ng-template>
		</div>
	</div>

	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md">
			<div class="text-wrap text-lg font-semibold"
				i18n="The question to ask about the frailVIG of a patient@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-question">
				Lawton index</div>
			<div class="text-wrap font-light"
				i18n="The explanation to ask about the MACA of a patient@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-question_explanation">
				Independence instrumental activities.</div>
		</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="independenceInstrumentalActivities"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="ZERO"
				i18n="Independence instrumental activities label for Lawton index zero@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-zero">0
			points </mat-radio-button> <mat-radio-button value="ONE"
				i18n="Independence instrumental activities label for Lawton index one@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-one">1
			point </mat-radio-button> <mat-radio-button value="TWO"
				i18n="Independence instrumental activities label for Lawton index two@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-two">2
			points </mat-radio-button> <mat-radio-button value="THREE"
				i18n="Independence instrumental activities label for Lawton index three@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-three">3
			points </mat-radio-button> <mat-radio-button value="FOUR"
				i18n="Independence instrumental activities label for Lawton index four@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-four">4
			points </mat-radio-button> <mat-radio-button value="FIVE"
				i18n="Independence instrumental activities label for Lawton index five@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-five">5
			points </mat-radio-button> <mat-radio-button value="SIX"
				i18n="Independence instrumental activities label for Lawton index six@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-six">6
			points </mat-radio-button> <mat-radio-button value="SEVEN"
				i18n="Independence instrumental activities label for Lawton index seven@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-seven">7
			points </mat-radio-button> <mat-radio-button value="EIGHT"
				i18n="Independence instrumental activities label for Lawton index eight@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-eight">8
			points </mat-radio-button> <mat-radio-button value="UNKNOWN"
				i18n="Independence instrumental activities label for Lawton index UNKNOWN@@shared_patient-status-criteria_main_criteria_independence-instrumental-activities-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the has advance directives of a patient@@shared_patient-status-criteria_main_criteria_has-advance-directives-question">
			Does the patient have advance directives?</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="hasAdvanceDirectives"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="YES"
				i18n="Has advance directives label for YES@@shared_patient-status-criteria_main_criteria_has-advance-directives-yes">Yes</mat-radio-button>
			<mat-radio-button value="NO"
				i18n="Has advance directives label for NO@@shared_patient-status-criteria_main_criteria_has-advance-directives-no">No</mat-radio-button>
			<mat-radio-button value="UNKNOWN"
				i18n="Has advance directives label for UNKNOWN@@shared_patient-status-criteria_main_criteria_has-advance-directives-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the is competent of a patient@@shared_patient-status-criteria_main_criteria_is-competent-question">
			Is the patient competent to understand the instructions of health
			personnel?</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="isCompetent"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="YES"
				i18n="Is competent label for YES@@shared_patient-status-criteria_main_criteria_is-competent-yes">Yes</mat-radio-button>
			<mat-radio-button value="NO"
				i18n="Is competent label for NO@@shared_patient-status-criteria_main_criteria_is-competent-no">No</mat-radio-button>
			<mat-radio-button value="UNKNOWN"
				i18n="Is competent label for UNKNOWN@@shared_patient-status-criteria_main_criteria_is-competent-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the has been informed of a patient@@shared_patient-status-criteria_main_criteria_has-been-informed-question">
			To the patient or his/her referent authorized has been informed of
			possible treatments and the consequences of receiving it or No?</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="hasBeenInformed"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="YES"
				i18n="Has been informed label for YES@@shared_patient-status-criteria_main_criteria_has-been-informed-yes">Yes</mat-radio-button>
			<mat-radio-button value="NO"
				i18n="Has been informed label for NO@@shared_patient-status-criteria_main_criteria_has-been-informed-no">No</mat-radio-button>
			<mat-radio-button value="UNKNOWN"
				i18n="Has been informed label for UNKNOWN@@shared_patient-status-criteria_main_criteria_has-been-informed-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the is coerced of a patient@@shared_patient-status-criteria_main_criteria_is-coerced-question">
			Is it detected that the patient has seen coerced/pressured by third
			parties?</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="isCoerced"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="YES"
				i18n="Is coerced label for YES@@shared_patient-status-criteria_main_criteria_is-coerced-yes">Yes</mat-radio-button>
			<mat-radio-button value="NO"
				i18n="Is coerced label for NO@@shared_patient-status-criteria_main_criteria_is-coerced-no">No</mat-radio-button>
			<mat-radio-button value="UNKNOWN"
				i18n="Is coerced label for UNKNOWN@@shared_patient-status-criteria_main_criteria_is-coerced-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the has cognitive impairment of a patient@@shared_patient-status-criteria_main_criteria_has-cognitive-impairment-question">
			Does the patient have cognitive impairment?</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="hasCognitiveImpairment"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="ABSENT"
				i18n="Has cognitive impairment label for ABSENT@@shared_patient-status-criteria_main_criteria_has-cognitive-impairment-absent">Absent</mat-radio-button>
			<mat-radio-button value="MILD_MODERATE"
				i18n="Has cognitive impairment label for MILD_MODERATE@@shared_patient-status-criteria_main_criteria_has-cognitive-impairment-mild-moderate">Mild-moderate</mat-radio-button>
			<mat-radio-button value="SEVERE"
				i18n="Has cognitive impairment label for SEVERE@@shared_patient-status-criteria_main_criteria_has-cognitive-impairment-severe">Severe</mat-radio-button>
			<mat-radio-button value="UNKNOWN"
				i18n="Has cognitive impairment label for UNKNOWN@@shared_patient-status-criteria_main_criteria_has-cognitive-impairment-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the emotinal state of a patient@@shared_patient-status-criteria_main_criteria_emotional-state-question">
			Emotional state. Does the patient have emotional discomfort?</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="hasEmocionalPain"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="YES"
				i18n="Is coerced label for YES@@shared_patient-status-criteria_main_criteria_is-coerced-yes">Yes</mat-radio-button>
			<mat-radio-button value="NO"
				i18n="Is coerced label for NO@@shared_patient-status-criteria_main_criteria_is-coerced-no">No</mat-radio-button>
			<mat-radio-button value="UNKNOWN"
				i18n="Is coerced label for UNKNOWN@@shared_patient-status-criteria_main_criteria_is-coerced-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap items-start gap-2 p-3 odd:bg-white even:bg-slate-50">
		<div class="max-w-md text-wrap text-lg font-semibold"
			i18n="The question to ask about the disconfort degree of a patient@@shared_patient-status-criteria_main_criteria_disconfort-degree-question">
			Degree of discomfort/discomfort of the patient before applying any
			action.</div>
		<div class="grow"></div>
		<div class="max-w-xs">
			<mat-radio-group aria-labelledby="example-radio-group-label"
				formControlName="discomfortDegree"
				class="flex flex-row flex-wrap gap-2 place-content-center">
			<mat-radio-button value="LOW"
				i18n="Disconfort degree label for LOW@@shared_patient-status-criteria_main_criteria_disconfort-degree-low">Low</mat-radio-button>
			<mat-radio-button value="MEDIUM"
				i18n="Disconfort degree label for MEDIUM@@shared_patient-status-criteria_main_criteria_disconfort-degree-medium">Medium</mat-radio-button>
			<mat-radio-button value="HIGH"
				i18n="Disconfort degree label for HIGH@@shared_patient-status-criteria_main_criteria_disconfort-degree-high">High</mat-radio-button>
			<mat-radio-button value="UNKNOWN"
				i18n="Disconfort degree label for UNKNOWN@@shared_patient-status-criteria_main_criteria_disconfort-degree-unknown">Unknown</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
</form>
