<div *ngIf="patient$ | async; let patient"
	class="flex flex-col items-center max-w-4xl mx-auto gap-3">
	<div class="flex flex-row gap-2 items-center">
		<avvvatars [value]="patient.name||'no avatar'" [style]="'shape'"
			[size]="64"></avvvatars>
		<div class="text-5xl font-bold">{{patient.name}}</div>
		<div [routerLink]="['/main/doctor/patients',patient.id,'edit']"
			class="text-blue-500  px-3 py-1 text-xs">
			<mat-icon>edit</mat-icon>
		</div>
		<div [routerLink]="['/main/doctor/patients',patient.id,'delete']"
			class="text-red-500  px-3 py-1 text-xs">
			<mat-icon>delete</mat-icon>
		</div>
	</div>
	<div class="w-full">
		<app-patient-status-criteria-editor [data]="patient.status"
			[disable]="true"></app-patient-status-criteria-editor>
	</div>
</div>